@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>Welcome to NightscoutShareServer</h1>
    <p>This is a custom server that behaves like a Dexcom Share server, but will fetch its glucose values from nightscout</p>
    <p>If you're a nightscout user, you may have heared of the "Dexcom Bridge". This server does the reverse.</p>
    <p>
        By using this custom shareserver, you can use any CGM together with Loop, as long as your cgm data is uploaded to nightscout.
        A consequence is that you don't have to store your glucose data on Dexcom's servers
    </p>

    <h2>Step 0: check integration against nightscout</h2>
    <p>
        Please verify that the integration against nightscout is working, click this button
    </p>
    <button id="loadglucose" value="Load Glucose">Load glucose</button>
    <button id="hideglucose" value="Hide glucose" style="visibility:hidden">Hide glucose</button>
    <div id="glucoseinfo">

    </div>
    <h2>Step1: Fork the swift shareclient on github</h2>
    <p>
        (TODO: better description)
        Fork the swift shareclient into your own repository on github
    </p>

    <h2>Step 2: Change shareurl in the fork</h2>
    <p>
        Go to your forked version at github.ocm/yourgithubuser/dexcom-share-client-swift/blob/master/ShareClient/ and edit the file ShareClient.swift.
        Find the dexcom share variable for the US servers and change it to match this customserver instead, like this:
        
        
    </p>
    <code>private let dexcomServerUS = "@Request.Url.GetLeftPart(UriPartial.Authority)"</code>
    
    <h2>Step 3: tell Loop to use your custom swift-shareclient</h2>
    <p>
        Locate your Carthage dependencies file at  Loop/Cartfile and change the following to match your new repo
    </p>
    <code>github "mddub/dexcom-share-client-swift" ~> 0.2.0</code>
    <p>change it to:</p>
    <code>github "yourgithubuser/dexcom-share-client-swift" "master"</code>

    <p>On your mac, open a terminal and navigate to the folder where you have your loop project. 
        You should now issue an update to the dexcom-share-client-swift-module in your terminal.
        Example:
    </p>
    <code>
    cd /Users/bjorninge/Projects/Loop;
    carthage update dexcom-share-client-swift
    </code>
    <p>
        Recompile the Loop app, and you're all set to go
        Your customserver should now be build and running, trit it out! It will accept any combination of username and password.
    </p>
</div>

@section Scripts {
    <script>
        var url = "@Url.Action("Index", "Glucose")";
        var $loadglucose = $("#loadglucose"),
            $glucoseinfo = $("#glucoseinfo"),
            $hideglucose = $("#hideglucose");

        $hideglucose.click(function () {
            $glucoseinfo.find("table").remove();

        });

        $loadglucose.click(function () {
            $.getJSON(url, function (data) {
                $glucoseinfo.find("table").remove();
                var pretty = prettyPrint(data, { maxDepth: 5 })
                $glucoseinfo.append(pretty);
                $hideglucose.css("visibility", "visible")


            })
        });
    </script>
}
